<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List Users</h4>
            <!-- <p class="card-description">
          Add class
          <code>.table-bordered</code>
        </p>  -->

            <button class="btn btn-success" (click)="AddagentClick()" style="position:absolute; right:20px; top:10px;">Add User</button>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th width="10%">
                                Sl.No
                            </th>
                            <th width="10%">
                                User Type
                            </th>
                            <th width="20%">
                                Agent ID
                            </th>
                            <th width="20%">
                                Subscriber ID
                            </th>
                            <th width="10%">
                                Name
                            </th>
                            <!-- <th>
                                Email
                            </th> -->
                            <!-- <th width="10%">
                                Mobile
                            </th> -->
                             <th width="10%">
                                Active Status
                            </th>
                            <th width="10%">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let agents of Listagents; let i = index">
                            <td class="center">{{i+1}}</td>
                            <td class="center">{{agents.user_type_id}}</td>
                            <td class="center">{{agents.Agent_id}}</td>
                            <td class="center">{{agents.subscriber_id}}</td>

                            <td class="center">{{agents.Name}}</td>
                            <!-- <td class="center">{{agents. Email}}</td> -->
                            <!-- <td class="center">{{agents.Mobile}}</td> -->
                            <td hidden class="center">{{agents.id}}</td>
                            <td class="center">{{agents.is_active == 1 ? 'Active' : 'Inactive'}}</td>
                            <td>
                                <button class="btn"><i class="fa fa-edit" (click)="onEditagentClick(agents)"></i></button>
                                <button class="btn"><i class="fa fa-trash" (click)="deleteagents(agents)"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>